<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <title>VueJS - Diretiva v-for</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 </head>
 <body>
  <div id="directives">
   <h1>Cidades do Mundo</h1>
   <ol>
    <!-- Array -->
    <!-- <li v-for="city in cities">{{ city }}</li> -->
    
    <!-- Objeto -->
    <li v-for="item in cities">{{ item.city }} - {{ item.country }}</li>
   </ol>

   <h2>Grandes filmes da história</h2>

   <ul>
    <li v-for="(picture, index) in movies">{{ index }}. {{ picture }}</li>
   </ul>

   <ul>
    <li v-for="(value, key, index) in company">
     {{ index }}. {{ key }}: {{ value }}
    </li>
   </ul>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
  <script>
   let app = new Vue({
    el: '#directives',
    data: {
     // Array de Cidades do Mundo
     // cities: ['Nova York', 'São Paulo', 'Londres', 'Rio de Janeiro']

     // Array de Objetos Cidades e Países do Mundo
     cities: [{
      city: 'Nova York',
      country: 'EUA'
     },
     {
      city: 'São Paulo',
      country: 'Brasil'
     },
     {
      city: 'Londres',
      country: 'Inglaterra'
     },
     {
      city: 'Rio de Janeiro',
      country: 'Brasil'
     }],
     movies: ['Star Wars', 'Jurassic Park', 'De volta para o futuro'],
     company: {
      name: 'Facebook',
      year: 2004,
      creator: 'Mark Zuckerberg'
     }
    }
   })
  </script>
 </body>
</html>